<!DOCTYPE HTML>
<html lang="en" ng-app="hanasolo">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible content=IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hana Solo</title>
<link href="res/css/bootstrap.css" rel="stylesheet">
<link href="res/css/default.css" rel="stylesheet">
<script src="res/js/angular.min.js"></script>
<script src="res/js/jquery.min.js"></script>
<script src="res/js/bootstrap.min.js"></script>
<script src="res/js/controllers.js"></script>
<script src="res/js/highstock.js"></script>
<script src="res/js/map.js"></script>
<script src="res/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.8/src/markerwithlabel.js"></script>


</head>
<body ng-controller="hanasoloController">
	<div class="container container-fluid">
		<div class="col-lg-6">

			<div id="doencasPanel" class="panel panel-default">
				<div class="panel-heading">Taxa de mortalidade por doença <input class="form-control" ng-model="filtroDoencas" style="width:200px" /></div>
				<div class="panel-body">
					<div class="loading" ng-if="doencas == undefined">
						<img src="spin.gif" />
					</div>
					<table ng-if="doencas != undefined" class="table">
						<thead>
							<tr>
								<th>Doença</th>
								<th>Taxa de mortalidade</th>
							</tr>
						</thead>
						<tbody>
							<tr class="clickable" ng-repeat="doenca in doencas | filter: filtroDoencas" ng-class="{selected: doenca.CO_CID == doencaSelecionada.CO_CID}" ng-click="selecionaDoenca(doenca)">
								<td>{{doenca.DS_CID}}</td>
								<td>{{doenca.MORTALIDADE | number:2}}%	
								<div class="progress" style="width:80px">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{doenca.MORTALIDADE}}" aria-valuemin="0" aria-valuemax="100" style="width: {{doenca.MORTALIDADE}}%">
								  	</div>
								</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div id="procedimentosPanel" class="panel panel-default">
				<div class="panel-heading">Taxa de mortalidade por procedimento <input class="form-control" ng-model="filtroProcedimentos" style="width:200px" /></div>
				<div class="panel-body">
					<div class="loading" ng-if="dadosPorProcedimento == undefined">
						<img src="spin.gif" />
					</div>
					<table ng-if="dadosPorProcedimento != undefined" class="table">
						<thead>
							<tr>
								<th>Procedimento</th>
								<th style="width: 170px">Taxa de mortalidade</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="procedimento in dadosPorProcedimento | filter: filtroProcedimentos">
							    
								<td>{{procedimento.DS_PROC}}</td>
								<td>{{procedimento.MORTALIDADE | number:2}}%
								<div class="progress" style="width:80px">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{procedimento.MORTALIDADE}}" aria-valuemin="0" aria-valuemax="100" style="width: {{procedimento.MORTALIDADE}}%">
								  	</div>
								</div>
								
								</td>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
		<div class="col-lg-6">
			<div id="map"></div>
			<div id="panelHospitais" class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Taxa de mortalidade por hospital <input ng-model="filtroHospital" class="form-control" style="width:200px"/></div>
				<div class="panel-body">
					<div class="loading" ng-if="dadosPorHospital == undefined">
						<img src="spin.gif" />
					</div>
					<table ng-if="dadosPorHospital != undefined" class="table">			
						<thead>
							<tr>
								<th>Hospital</th>
								<th style="width: 170px">Taxa de mortalidade</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="hospital in dadosPorHospital | filter: filtroHospital" class="clickable" ng-click="abreHistorico(hospital.CO_CNES)">
								<td>{{hospital.DS_CNES}}</td>
								<td>{{hospital.MORTALIDADE | number:2}}%
									<div class="progress" style="width:80px">
										<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{hospital.MORTALIDADE}}" aria-valuemin="0" aria-valuemax="100" style="width: {{hospital.MORTALIDADE}}%">
									  	</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>